body { margin: 0; font-family: Arial, Helvetica, sans-serif; }

.login-bg {
    background-image: url("bg-1.avif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 14px;
    background: gold;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
